VITE_SUPABASE_URL=https://zmmgptsmlynvysxspjbm.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptbWdwdHNtbHludnlzeHNwamJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MzAyNDQsImV4cCI6MjA5NTMwNjI0NH0.dFi0aIegRPgC0RozDJKlHjWSfX7rTvWkHpFbmiVX3c0

VITE_PUBLIC_ORDER_BASE_URL=https://grillflow.vercel.app